[access "refs/*"]
        owner = group android_device_xiaomi_moonstone
                label-Verified = -1..+1 group android_device_xiaomi_moonstone
	push = +force group android_device_xiaomi_moonstone
[receive]
        requireChangeId = true
[submit]
        mergeContent = true
        action = merge always
